*{
    margin:0;
    padding: 0;
}

.awards_img{
    width:10em;
    height:10em;
}

.center{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

footer{
    width:100vw;
    position: relative;
    background: linear-gradient(to bottom left,#221a3b 0%,#221a3b 75%,#3d2f6a 100%);
}

.footer_grid{
    margin:10em 0 0;
    padding: 5em;
    display:grid;
    color:white;
    font-family: 'Red Hat Display';
    grid-template-areas: "one two"
                         "three four"
                         "five five";
    grid-gap: 1.5em;
}

.footer_grid1{
    grid-area: one;
}

.footer_grid2{
    grid-area: two;
}

.footer_grid3{
    grid-area: three;
}

.footer_grid4{
    grid-area: four;
}

.footer_grid5{
    grid-area: five;
}

.footer_grid1 img,.footer_grid2 h3,.footer_grid3 h3,.footer_grid4 h3,.footer_grid5 h3{
    margin:1em 0;
    color:#e5e0f7;
}

.footer_grid1 p,.footer_grid2 p,.footer_grid3 p,.footer_grid4 p,.footer_grid5 p{
    margin:0.2em;
    color:#8d8b97;
}

.footer_grid5 p{
    margin:0.5em 0;
}

.footer_grid5 input{
   background-color: #3e3e3e;
   width:10em;
   height:2.5em;
   margin:0 0.5em 1em 0;
   border-radius: 0.4em;
   width:40vw;
}

.footer_grid5 button{
    background-color:#5306c9;
    font-family: 'Red Hat Display';
    border-radius: 0.3em;
    padding:1em;
    color:white;
}

.footer_grid5 p{
    margin:0.5em 0;
}

.footer_top{
    text-align: center;
    width:80%;
    position: absolute;
    left:10%;
    top:-10%;
    border-radius: 1em;
    background-color: #3d2f6a;
}

.footer_top h3{
    color:#ffffff;
    font-family: 'Red Hat Display';
    padding:1em 2em 1em 2em;
}

.footer_sign_buttons .button1,.footer_sign_buttons .button2{
    margin:0 2em 2em 0;
    border-radius: 0.5em;
    font-family: 'Red Hat Display';
    padding:1em 1.5em;
}

.footer_sign_buttons .button2{
    color:white;
    background-color:#6f6593;
}

.header_navbar{

    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:1.5em;

}

 .header_navbar .culture_logo{
    width:10em;
    height:10vh;
}  

.header_navbar .fa-solid{
    color:#5330c9;
}

.item h2{
    text-align: center;
    font-family: "Frank Ruhl Libre";
    font-weight: 300;
}

.item .author{
    display:flex;
    align-items: center;
    margin-top:1.5em;
}

.item .author img{
    border-radius: 2.5em;
    width:5em;
    height:5em;
    margin-right: 1em;
}

.item .author_data p{
    font-family: 'Red Hat Display';
}

.item .author_data p:first-of-type{
    color: #5330c9;
}

.last_content{
    display:none;
}

.middle_content{
    display:none;
}

.nav_circle{
    display:flex;
    justify-content: center;
    margin:2em auto;
}

.nav_circle .first,.nav_circle .second,.nav_circle .third{
    width:0.5em;
    height:0.5em;
    margin:0.2em;
    border-radius: 0.5em;
    background-color:#cccccc;
}

.section_1 h1{
   margin:1em;
   font-family: 'Red Hat Display';
   font-size: 40px;
   font-weight: 500;
   text-align: center;
}

.section_1{
    display: flex;
    flex-direction: column;
}

.section_1 img{
    width:100%;
    height:100%;
}

.section_1 p{
    display:none;
}

.section_1 .talk{
     margin-left: auto;
     padding:0.7em 1.8em;
     color: white;
     background-color: #5330c9;
     font-size:1em;
     border-radius: 0.5em;
     margin-right: auto;
     display: block;
}

.section_2{
    margin-top: 2.5em;
}

.section_2 .carousel{
    width: 80%;
    height:15em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.section_2 .ending_line{
    width:95%;
    height:1em;
    margin:4em 3em 0 1em;
    background-color: #e4e1f6;
    transform:rotate(5deg);
}

.section_2 .item{
    display:flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
}

.section_2 .shifting{
    transition: transform 0.5s ease-in-out;
}



.section_2 .two{
    display:none;
}

.section_2 .three{
    display:none;
}



.section_3{
    margin-top:4em;
}

.section_3 img{
 margin-top:4em;
}

.section_3 .item_3{
    display:flex;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    flex-direction: column;
    align-items:center;
}

.section_3 .item_3 p{
    margin:1.5em;
    font-family: 'Red Hat Display';
    color:#5330c9;
}

.section_3 .item_3 h1{
      font-family: 'Red Hat Display';
       font-size:40px;
       font-weight: 500;
    }

.section_3 .text{
    position: relative;
}

.section_3 .second_text,.section_1 .text_2,.section_4_one .text_2,.section_5 .text2{
    background-color: #e7e3f7;
}

@keyframes animate {

    40%,60%{
        left:100%;
    }

    100%{
        left:0%;
    }
    
}

.section_3 .second_text::before{
     content:"";
     position: absolute;
     top:0;
     left:0;
     width: 100%;
     height: 100%;;
     background-color: white;
     border-left:1px solid black;
     animation: animate 4s steps(12) infinite; 
}



.section_3 article p,.section_3 article h3{
    margin:1em;
}

.section_3_item p:first-of-type{
    color: #5330c9;
    font-family: 'Red Hat Display';
    font-weight: 500;
}

.section_3_item h3{

    font-family:'Red Hat Display';
    font-weight: 400;
}

.section_3 img{
    width:100%;
}

.section_3 .learn{
    background-color: #5330c9;
    font-family: 'Red Hat Display';
    color:white;
    display:block;
    margin:1.5em auto 0 auto;
    border-radius: 0.5em;
    font-size:1em;
    font-weight: 800;
    padding:0.8em;
}

.section_4{
    position: relative;
    height:44em;
}

.section_4_one{
    padding:1em;
    margin:5em 0 1em 0;
    text-align: center;
    background-color: #f0efef;
}

.section_4_one p{
    font-family: 'Red Hat Display';
    color: #5330c9;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin:1em;
}

.section_4_one h1{
    width:80%;
    margin:0 auto 0 auto;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Red Hat Display';
}

.section_4_two{
    display: flex;
    text-align: center;
    position: relative;
    height: 40em;
    margin:0 1em 0 1em;
}


.section_4_two a:first-of-type{
    z-index: 1;
}


.section_4_two a{
    color:#5330c9;
}

.section_4_two a:last-of-type{
    position: absolute;
    right:0;
}

.s42_slides{
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}

.s42_slides .shifting{
    transition: transform 150ms ease-in-out;
}

.s42_one{
    position: absolute;
    width:100%;
}

.s42_one img{
    object-fit: cover;
    width:100%;
}

.s42_one_surveys{
    color:white;
    padding:0.5em 1em;
    letter-spacing: 0.1em;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 500;
    background-color: #5330c9;
}

.s42_one p{
    margin:1.4em;
    font-family: 'Red Hat Display';
}

.s42_one p:last-of-type{
    font-size: 0.8em;
    font-weight: 500;
    color: #5330c9;
}

.section_4_two_alter{
    display:flex;
    height: 70%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.section_4_two_alter .s42_slides .alter{
    display:none;
}

.section_4_two_alter .s42_slides{
    width:70%;
    height:100%;
}

.section_4_two_alter .s42_slides .current-slide-alter img{
    width:80%;
    left:10%;
    object-fit: contain;
    position: relative;
    object-position: top;
    height:100%;
}



.section_5{
    text-align: center;
}

.section_5 img{
    width:100%;
}

.section_5 h1{
    font-family: 'Red Hat Display';
    font-size:2em;
    margin:0.5em;
}

.section_5 h4,.section_5 p,.section_5 button{
    font-family: 'Red Hat Display';
    margin:1em;
}

.section_5 h4{
    font-size: 1.4em;
}

.section_5 p{
    word-spacing: 0.2em;
    text-align: left;
    line-height: 1.5;
}

.section_5 .s5_but{

    background-color: #e5e0f7;
    color:#5330c9;

}

.sec5_to_flex{
    margin:4em 2em;
}

.section5_content{
    display:flex;
    justify-content: space-between;
}

.section_6,.section_7{
    text-align: center;
}

.section_6 p,.section_7 p{
    color: #5330c9;
    font-family: 'Red Hat Display';
    margin:4em;
    font-size:0.9em;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.section_6 .awards{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_7 .awards_7{
    position:relative;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    height:10em;
}

.section_7 .awards_7 .awards_7_one, .awards_7_two{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    position:absolute;
    justify-content: space-between;
}

.section_7 .awards_7 .shifting{
    transition:transform 500ms ease-in-out;
}

.section_7 .awards_img{

    object-fit: contain;
}

@media screen and (max-width:751px){

    .section_4_two{
        display:flex;
    }

    .section_4_two_alter{
        display:none;
    }

    .section5_content{
        display:none;
    }

    .awards_7 .extra{
        display:none;
    }

    .s4_coloring{
        background-color: none;
    }

   
    
}

@media screen and (min-width:720px) {

    .header_navbar .fa-solid{
        float:right;
    }

    .last_content{
        display:flex;
        justify-content: space-between;
        font-family: 'Red Hat Display';
        align-items: center;
    }

    .last_content p{
        color:#5330c9;
        margin:0 1em 0 1em;
        font-weight: 700;
    }

    .last_content button{
        background-color:#e5e0f7 ;
        color:#5330c9;
        font-weight: 800;
        margin-left:1em;
        border:none;
        border-radius:0.5em;
        padding:1em;
    }

    .secondary_content{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-right:1em;
    }

     

    .section_3 .section_3_item{
        display:none;
    }

    .s4_coloring{
        background-color: #f0efef;
    }

    .section_4_two{
        display:none;
    }
    .section_4_two_alter{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    .s4_coloring{
        height:24em;
    }

    .s42_one{
        width:50%;
    }

    .s42_slides{
        overflow:visible;
    }

    .section_4_two_alter .s42_alter_contents{
        font-family: 'Red Hat Display';
        background-color: white;
        font-weight: 500;
    }

    .section_4_two_alter .s42_alter_contents p{
        margin:0.5em;
    }

    .section_4_two_alter .s42_slides p{
        text-align: center;
    }

    .section_4_two_alter .s42_slides .current-slide-alter{
        display:block;
        width: 100%;
        max-width: 40vw;
        margin-left:3em;
        overflow: hidden;
        height: 300px;
        border:1px solid rgb(188, 186, 186);
        background-color: white;
    }

    .sec5_to_flex{
        display:flex;
        align-items: center;
    }

    .section5_content{
        display: flex;
    }

    .awards_7 .extra{
        display:block;
    }

    
    
}

@media screen and (min-width:1000px) {

    .middle_content{
        display:flex;
        justify-content: space-between;
    }

    .middle_content p{
        font-family: 'Red Hat Display';
        margin:0 1em 0 1em;
        font-weight: 500;
    }

    .secondary_content .fa-solid{
        display:none;
    }

    .section_1{
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }

    .section_1 p{
        display:block;
        text-align: center;
        width:80%;
        font-family: 'Red Hat Display';
        margin: 0 auto 2em auto;
    }

    .section_1 p{
        order:1;
    }

    .section_1 button{
        order:2;
    }

    .section_1 img{
        order:3;
    }

    .section_2 .carousel,.section_2 .nav_circle{
        width:50%;
    }

    

    
    
}




